@import "~bootstrap/scss/bootstrap";
@import 'colors';

body {
    background: url(./background_image.jpg);
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

body:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
    z-index: -1;
}

.bg-card-login {
    text-align: center;
    padding: 60px 32px;
    background: rgba(255,255,255,0.04);
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
    position: relative;
    color: white;
}

.bg-card-signup {
    text-align: center;
    padding: 60px 32px;
    background: rgba(255,255,255,0.04);
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
    position: relative;
    color: white;
}

.card-title-user {
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family: 'Montserrat', sans-serif;
}

.card-input-field {
    background: transparent;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.btn-user, .btn-blue {
    background-color: #2691d9;
}

.btn-green {
    background-color: #416E4B;
}

.btn-brownred {
    background-color: #A16F73;
}

.home, .albums, .album, .edit-album {
    color: white;
}

#denied-access-text {
    font-size: 2rem;
}

#dropzone-wrapper {
    background-color: #d8e5e2;
    background-color: #F0F0F0;
    border-radius: 4px;
    border: 1px dashed #eee;
    color: white;
    color: black;
    font-weight: 600;

    &.drag-accept {
        background-color: #d4edda;
        border-color: #c3e6cb;
        color: #155724;
    }

    &.drag-reject {
        background-color: #f8d7da;
        border-color: #f5c6cb;
        color: #721c24;
    }

    p {
        margin-bottom: 0;
    }
}